[Desktop Entry]
Name=Restart CRD Pulseaudio
Comment=Restart CRD Pulseaudio
Exec=/bin/sh -c "sleep 5 ; systemctl --user restart pulseaudio"
Type=Application

